hr {
  border-bottom: 1px solid var(--hope-colors-neutral6);
}

@keyframes animateRearrange {
  from {
    /* border-radius: 100%; */
    transform: scale(.2);
    filter: opacity(30%);
  }

  to {
    transform: scale(20);
    /* border-radius: 0%; */
    filter: opacity(0%);
  }

}